body{
    background-color: black;
}
.episode {
    width: 323px;
    color: yellow;
    margin: 0 auto;
    perspective: 400px;
    }

.text {
    font-family: Arial, sans-serif;
    width: 323px;
    transform-style: preserve-3d;
    animation: 30s infinite linear slidein;
    line-height: 150%;
}
.text h3, .text h4 {
    text-align: center;
}

@keyframes slidein {
    from {
        margin-top: 130vh;
        transform: perspective(500px) scale3d(5, 5, 1) rotateX(45deg);
        perspective-origin: center center;
    }

    to {
        margin-top: 20%;
        transform: perspective(500px) scale3d(0.8, 0.8, 1) rotateX(45deg);
        perspective-origin: center center;

    }
}

